### Archivos específicos del proyecto ###
/.env
/.env.*
/application-dev.properties
/application-prod.properties
*.log

### Archivos generados por el IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?
.DS_Store

### Archivos de compilación ###
/target/
/bin/
/build/
out/

### Archivos de dependencias ###
*.jar
*.war
*.ear
*.zip
*.tar.gz

### Archivos de configuración local ###
application.properties
application.yml

### Archivos de sistema ###
*.orig
*.bak
*.rej